<!-- ABOUT -->
<!-- ABOUT -->
<!-- ABOUT -->
<section id="about" class="relative bg-[#F8F8FF] text-black py-16 sm:py-24">
  <div class="text-center mb-12 sm:mb-16 mt-12">
    <!-- SECTION TITLE -->
    <h2
      class="text-3xl sm:text-5xl font-[Poppins] font-bold uppercase relative inline-block pb-3 border-b-4 border-[#b01030]"
    >
      ABOUT
    </h2>

    <p class="text-gray-600 mt-4 text-base sm:text-lg">
      Discover My Journey, Skills, and Passion for Web Development
    </p>
  </div>
  <div class="container mx-auto px-6 sm:px-12 lg:px-20 relative z-10">
    <!-- FIRST ROW -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 sm:gap-16 items-center">
      <div class="relative flex justify-center md:justify-start">
        <div class="relative group">
          <img
            src="/assets/images/bio.webp"
            alt="Marcel Angelo"
            class="w-64 sm:w-72 md:w-80 lg:w-96 h-auto object-cover rounded-2xl shadow-2xl transition-all duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 bg-[#b01030] text-white text-xs sm:text-sm px-4 py-2 sm:px-5 sm:py-3 rounded-full shadow-lg transform -translate-x-4 sm:-translate-x-6 -translate-y-4 sm:-translate-y-6 transition-all duration-300 group-hover:-translate-x-6 sm:group-hover:-translate-x-8 group-hover:-translate-y-6 sm:group-hover:-translate-y-8"
          >
            Front-End Web Developer 🚀
          </div>
          <div
            class="absolute bottom-0 right-0 bg-[#313332] text-white text-xs sm:text-sm px-4 py-2 sm:px-5 sm:py-3 rounded-full shadow-lg transform translate-x-4 sm:translate-x-6 translate-y-4 sm:translate-y-6 transition-all duration-300 group-hover:translate-x-6 sm:group-hover:translate-x-8 group-hover:translate-y-6 sm:group-hover:translate-y-8"
          >
            Tech Enthusiast 🔥
          </div>
        </div>
      </div>

      <div class="text-center md:text-left">
        <h3
          class="text-3xl sm:text-4xl md:text-5xl font-[Poppins] font-semibold mb-4 sm:mb-6 leading-tight"
        >
          Hi, I'm <span class="text-[#b01030]">Marcel</span> 👋🏽
        </h3>
        <p class="text-gray-600 text-base sm:text-lg leading-relaxed">
          I'm a passionate
          <strong class="font-semibold">Front-End Web Developer</strong> with a
          deep love for crafting immersive web experiences. With
          <strong class="font-semibold">3 years</strong> in the industry, I
          specialize in
          <strong class="text-[#b01030] font-semibold"
            >building high-performance, scalable applications</strong
          >
          that bridge the gap between
          <strong class="font-semibold">technology and user experience</strong>.
        </p>
        <p
          class="text-gray-600 mt-4 sm:mt-6 text-base sm:text-lg leading-relaxed"
        >
          Beyond coding, you'll find me
          <em class="italic">exploring emerging tech</em>, contributing to
          <em class="italic">open-source projects</em>, and occasionally diving
          into <em class="italic">UI/UX design</em>.
        </p>

        <div
          class="mt-6 sm:mt-8 flex justify-center md:justify-start space-x-6"
        >
          <a
            href="https://www.linkedin.com/in/marcelanghelo/"
            target="_blank"
            class="hover:opacity-80 transition-all duration-300"
          >
            <svg
              class="w-7 sm:w-8 h-7 sm:h-8 fill-[#0077b5]"
              viewBox="0 0 24 24"
            >
              <path
                d="M22.23 0H1.77C.8 0 0 .8 0 1.77v20.45C0 23.2.8 24 1.77 24h20.46c.98 0 1.77-.8 1.77-1.77V1.77C24 .8 23.2 0 22.23 0zM7.08 20.45H3.56V8.95h3.52v11.5zM5.32 7.43c-1.13 0-1.82-.75-1.82-1.68 0-.94.7-1.68 1.83-1.68 1.12 0 1.82.74 1.82 1.68 0 .94-.7 1.68-1.83 1.68zM20.45 20.45h-3.52v-5.6c0-1.35-.5-2.26-1.74-2.26-1.01 0-1.61.68-1.88 1.35-.1.24-.12.58-.12.92v5.58h-3.52s.05-9.03 0-9.95h3.52v1.41c.46-.71 1.27-1.72 3.08-1.72 2.25 0 3.94 1.46 3.94 4.6v5.65z"
              />
            </svg>
          </a>
          <a
            href="https://github.com/navarroangelo"
            target="_blank"
            class="hover:opacity-80 transition-all duration-300"
          >
            <svg
              class="w-7 sm:w-8 h-7 sm:h-8 fill-[#171515]"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.37 0 0 5.4 0 12.08c0 5.34 3.44 9.87 8.21 11.49.6.11.82-.26.82-.58v-2.12c-3.34.73-4.03-1.6-4.03-1.6-.54-1.41-1.32-1.79-1.32-1.79-1.08-.75.08-.73.08-.73 1.2.08 1.83 1.27 1.83 1.27 1.07 1.85 2.82 1.31 3.52 1 .11-.77.42-1.3.76-1.6-2.67-.3-5.48-1.36-5.48-6.05 0-1.34.47-2.44 1.24-3.3-.12-.31-.54-1.54.12-3.2 0 0 1.01-.33 3.3 1.26A11.8 11.8 0 0112 6.2c1.02.01 2.05.14 3.02.41 2.28-1.6 3.29-1.26 3.29-1.26.67 1.66.25 2.89.12 3.2.77.86 1.23 1.96 1.23 3.3 0 4.7-2.81 5.75-5.49 6.04.43.38.81 1.13.81 2.28v3.38c0 .32.22.7.83.58A12.04 12.04 0 0024 12.08C24 5.4 18.63 0 12 0z"
              />
            </svg>
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=61567072834431"
            target="_blank"
            class="hover:opacity-80 transition-all duration-300"
          >
            <svg class="w-8 h-8 fill-[#1877F2]" viewBox="0 0 24 24">
              <path
                d="M22 12.08C22 6.5 17.5 2 12 2S2 6.5 2 12.08C2 17.1 5.84 21.2 10.67 22v-7h-3v-3h3v-2.3c0-3 1.7-4.5 4.3-4.5 1.24 0 2.53.23 2.53.23v2.75h-1.43c-1.4 0-1.83.86-1.83 1.74V12h3.1l-.5 3h-2.6v7C18.16 21.2 22 17.1 22 12.08z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- SECOND ROW -->
    <div
      class="mt-40 mb-40 grid grid-cols-1 md:grid-cols-2 gap-12 items-start relative px-4 sm:px-0"
    >
      <div class="relative px-4 sm:px-0">
        <h3
          class="text-3xl sm:text-4xl font-[Poppins] font-semibold text-[#b01030] mb-6"
        >
          More About Me
        </h3>

        <div class="flex items-start space-x-4">
          <p
            class="text-gray-700 text-lg italic leading-relaxed border-l-4 border-[#b01030] pl-4 bg-[#f0f0f5] p-4 rounded-lg shadow-md"
          >
            "Perfection is not attainable, but if we chase perfection, we can
            catch excellence." <br />
            – <strong>Vince Lombardi</strong>
          </p>
        </div>

        <p class="text-gray-800 text-lg leading-relaxed mt-6">
          Hailing from my roots in
          <strong class="font-semibold">Tarlac City and Angeles City</strong>, I
          grew up with a
          <strong class="text-[#b01030] font-semibold"
            >particular interest in technology</strong
          >. This was nurtured as I studied in
          <strong class="font-semibold">Don Bosco Tarlac</strong> and further
          honed as I went to
          <strong class="font-semibold">Holy Angel University</strong>. I do
          more than just develop—I
          <strong class="text-[#b01030] font-semibold"
            >engineer solutions, innovate, and elevate</strong
          >. I thrive on a relentless pursuit of improvement, always seeking new
          challenges to refine my craft.
        </p>
        <p class="text-gray-800 text-lg leading-relaxed mt-6">
          In our world and especially in the field of IT, where things evolve at
          lightning speed, I see to it that I keep up to the demands as I am
          committed to
          <strong class="font-semibold"
            >continuous learning and improvement</strong
          >. As the IT industry evolves, and I refuse to fall behind.
          <strong class="text-[#b01030] font-semibold"
            >Continuous learning, adaptability, and growth</strong
          >
          are not just philosophies—they are my daily mission.
        </p>
        <p class="text-gray-800 text-lg leading-relaxed mt-6">
          <strong class="font-bold">I don't just keep up</strong>—<strong
            class="text-[#b01030] font-bold"
            >I stay ahead.</strong
          >
        </p>
      </div>

      <!-- HOVER CARDS -->
      <div class="grid grid-cols-2 gap-4 w-full h-full hover-cards-container">
        <div class="hover-card w-full h-full" (click)="toggleHoverCard($event)">
          <div class="hover-card-content h-full">
            <div
              class="hover-card-front w-full h-full flex flex-col justify-center"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/7829/7829198.png"
                class="w-16 h-16 mx-auto"
                alt="Team Player Icon"
              />
              <h5 class="text-lg sm:text-xl font-semibold mt-4">
                Team Player & Leader
              </h5>
            </div>
            <div
              class="hover-card-back bg-gradient-to-r from-[#b01030] to-[#313332] text-white w-full h-full flex flex-col justify-center"
            >
              <h5 class="text-lg sm:text-xl font-semibold">
                Leadership & Collaboration
              </h5>
              <p class="text-sm mt-2 text-center">
                Leading when I need to, supporting when I should. Collaboration
                is key.
              </p>
            </div>
          </div>
        </div>

        <div class="hover-card w-full h-full" (click)="toggleHoverCard($event)">
          <div class="hover-card-content h-full">
            <div
              class="hover-card-front w-full h-full flex flex-col justify-center"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/3749/3749872.png"
                class="w-16 h-16 mx-auto"
                alt="Brain Icon"
              />
              <h5 class="text-lg sm:text-xl font-semibold mt-4">
                Creative & Unorthodox
              </h5>
            </div>
            <div
              class="hover-card-back bg-gradient-to-r from-[#313332] to-[#b01030] text-white w-full h-full flex flex-col justify-center"
            >
              <h5 class="text-lg sm:text-xl font-semibold">
                Thinking Outside the Box
              </h5>
              <p class="text-sm mt-2 text-center">
                I push the limits with outside-the-box thinking and innovation.
              </p>
            </div>
          </div>
        </div>

        <div class="hover-card w-full h-full" (click)="toggleHoverCard($event)">
          <div class="hover-card-content h-full">
            <div
              class="hover-card-front w-full h-full flex flex-col justify-center"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/8842/8842222.png"
                class="w-16 h-16 mx-auto"
                alt="Golf Icon"
              />
              <h5 class="text-lg sm:text-xl font-semibold mt-4">
                Passionate Golfer
              </h5>
            </div>
            <div
              class="hover-card-back bg-gradient-to-r from-[#b01030] to-[#313332] text-white w-full h-full flex flex-col justify-center"
            >
              <h5 class="text-lg sm:text-xl font-semibold">
                Precision & Focus
              </h5>
              <p class="text-sm mt-2 text-center">
                Focus, precision, and strategy—Golf mirrors my approach to
                development.
              </p>
            </div>
          </div>
        </div>

        <div class="hover-card w-full h-full" (click)="toggleHoverCard($event)">
          <div class="hover-card-content h-full">
            <div
              class="hover-card-front w-full h-full flex flex-col justify-center"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/808/808476.png"
                class="w-16 h-16 mx-auto"
                alt="Gaming Icon"
              />
              <h5 class="text-lg sm:text-xl font-semibold mt-4">
                Gamer at Heart
              </h5>
            </div>
            <div
              class="hover-card-back bg-gradient-to-r from-[#313332] to-[#b01030] text-white w-full h-full flex flex-col justify-center"
            >
              <h5 class="text-lg sm:text-xl font-semibold">
                Adaptability & Strategy
              </h5>
              <p class="text-sm mt-2 text-center">
                Problem-solving, adaptability, and quick thinking—Gaming
                strengthens them all.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- THIRD ROW -->
    <div class="mt-24 relative px-4 sm:px-0">
      <h3
        class="text-3xl sm:text-4xl font-[Poppins] font-semibold text-center uppercase mb-10 sm:mb-12 text-[#b01030]"
      >
        Specialized Developer Skills
      </h3>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 relative z-10"
      >
        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#b01030]">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
                class="w-14 h-14 mx-auto"
                alt="Angular Icon"
              />
              <h5 class="text-xl font-semibold mt-4">
                Component-Based UI Development
              </h5>
            </div>
            <div class="flip-card-back gradient-red-gray">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="Angular Icon"
              />
              <p class="text-sm mt-2 text-center">
                Crafting modular and reusable UI components using Angular's
                component-based architecture to enhance maintainability and
                scalability.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#313332]">
              <img
                src="https://ngrx.io/assets/images/badge.svg"
                class="w-14 h-14 mx-auto"
                alt="NgRx Icon"
              />
              <h5 class="text-xl font-semibold mt-4">State Management</h5>
            </div>
            <div class="flip-card-back gradient-gray-red">
              <img
                src="https://ngrx.io/assets/images/badge.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="NgRx Icon"
              />
              <p class="text-sm mt-2 text-center">
                Managing application state efficiently using NgRx, Angular's
                reactive state management library. Leveraging actions, reducers,
                selectors, and effects to ensure a predictable and scalable data
                flow.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#b01030]">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                class="w-14 h-14 mx-auto"
                alt="JavaScript Icon"
              />
              <h5 class="text-xl font-semibold mt-4">
                Progressive Web Apps (PWAs)
              </h5>
            </div>
            <div class="flip-card-back gradient-red-gray">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="JavaScript Icon"
              />
              <p class="text-sm mt-2 text-center">
                Developing installable and offline-capable web applications
                using Angular's PWA capabilities, including service workers and
                manifests, to enhance user experience.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#313332]">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
                class="w-14 h-14 mx-auto"
                alt="Responsive Design Icon"
              />
              <h5 class="text-xl font-semibold mt-4">
                Responsive & Mobile-First Design
              </h5>
            </div>
            <div class="flip-card-back gradient-gray-red">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="Responsive Design Icon"
              />
              <p class="text-sm mt-2 text-center">
                Crafting layouts that adapt seamlessly to various screen sizes
                using CSS Grid, Flexbox, and media queries, ensuring optimal
                user experience across devices.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#b01030]">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firefox/firefox-original.svg"
                class="w-14 h-14 mx-auto"
                alt="Firefox Developer Edition Icon"
              />
              <h5 class="text-xl font-semibold mt-4">
                Cross-Browser & Device Compatibility
              </h5>
            </div>
            <div class="flip-card-back gradient-red-gray">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firefox/firefox-original.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="Firefox Developer Edition Icon"
              />
              <p class="text-sm mt-2 text-center">
                Ensuring consistent functionality and appearance across various
                browsers and devices through thorough testing and debugging.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#313332]">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                class="w-14 h-14 mx-auto"
                alt="Performance Icon"
              />
              <h5 class="text-xl font-semibold mt-4">
                Performance Optimization
              </h5>
            </div>
            <div class="flip-card-back gradient-gray-red">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="Performance Icon"
              />
              <p class="text-sm mt-2 text-center">
                Enhancing web application speed and efficiency through
                techniques like code splitting, image optimization, and lazy
                loading.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#b01030]">
              <img
                src="https://cdn-icons-png.flaticon.com/512/888/888878.png"
                class="w-14 h-14 mx-auto"
                alt="Accessibility Icon"
              />
              <h5 class="text-xl font-semibold mt-4">Accessibility (A11y)</h5>
            </div>
            <div class="flip-card-back gradient-red-gray">
              <img
                src="https://cdn-icons-png.flaticon.com/512/888/888878.png"
                class="w-14 h-14 mx-auto brightness-200"
                alt="Accessibility Icon"
              />
              <p class="text-sm mt-2 text-center">
                Implementing WCAG guidelines and utilizing tools like axe and
                Lighthouse to ensure inclusive and accessible web applications.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#313332]">
              <img
                src="https://esbuild.github.io/favicon.svg"
                class="w-14 h-14 mx-auto"
                alt="Build Tools Icon"
              />
              <h5 class="text-xl font-semibold mt-4">Build Tools & Bundlers</h5>
            </div>
            <div class="flip-card-back gradient-gray-red">
              <img
                src="https://esbuild.github.io/favicon.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="Build Tools Icon"
              />
              <p class="text-sm mt-2 text-center">
                Streamlining development and build processes using modern tools
                like esbuild and Vite for faster builds, optimized bundling, and
                an enhanced developer experience.
              </p>
            </div>
          </div>
        </div>

        <div class="flip-card" (click)="toggleFlipCard($event)">
          <div class="flip-card-inner">
            <div class="flip-card-front border-t-4 border-[#b01030]">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                class="w-14 h-14 mx-auto"
                alt="Version Control Icon"
              />
              <h5 class="text-xl font-semibold mt-4">
                Version Control & CI/CD
              </h5>
            </div>
            <div class="flip-card-back gradient-red-gray">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                class="w-14 h-14 mx-auto brightness-200"
                alt="Version Control Icon"
              />
              <p class="text-sm mt-2 text-center">
                Managing code versions with Git and automating testing and
                deployment processes using CI/CD pipelines like GitHub Actions
                or GitLab CI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT -->
<!-- ABOUT -->
<!-- ABOUT -->
