<!-- HOME -->
<!-- HOME -->
<!-- HOME -->
<section
  id="home"
  class="bg-[#F8F8FF] text-black min-h-[90vh] flex items-center py-12"
>
  <div
    class="container mx-auto flex flex-col md:flex-row items-center px-6 sm:px-12 lg:px-20"
  >
    <!-- MAIN SECTION TEXT -->
    <div class="w-full md:w-1/2 text-center md:text-left">
      <p class="text-lg sm:text-xl text-gray-600 tracking-wide">
        Hello World! 👋🏽
      </p>
      <h1
        class="text-3xl sm:text-5xl md:text-6xl font-[Poppins] font-bold leading-tight mt-2"
      >
        Marcel Angelo Navarro
      </h1>
      <h2
        class="text-lg sm:text-xl md:text-2xl font-[Poppins] font-semibold text-[#b01030] mt-3"
      >
        Front-End Web Developer | UI/UX Designer
      </h2>
      <p class="text-base sm:text-lg text-gray-600 mt-4 leading-relaxed">
        Innovative and results-driven Web Developer dedicated to crafting
        dynamic, user-centric digital experiences. Skilled in leveraging modern
        tools and frameworks to build responsive and high-performance solutions.
      </p>

      <!-- RESUME DOWNLOAD CTA -->
      <div class="flex space-x-6 mt-8 justify-center md:justify-start">
        <a
          href="/assets/files/resume-updated-06052025.pdf"
          class="bg-[#b01030] text-white px-6 py-3 sm:px-8 sm:py-4 rounded-lg font-[Poppins] uppercase tracking-wide text-sm sm:text-base shadow-lg hover:bg-[#313332] transition-all duration-300"
          download="YourNextWebDeveloper_MarcelAngeloNavarro.pdf"
        >
          Download My Resume
        </a>
      </div>
    </div>

    <!-- MAIN SECTION IMAGE -->
    <div
      class="w-full md:w-1/2 mt-12 md:mt-0 flex justify-center md:justify-end"
    >
      <img
        src="/assets/images/headshot.webp"
        alt="Marcel Angelo"
        class="w-56 sm:w-72 md:w-80 lg:w-96 max-w-full object-cover rounded-xl"
      />
    </div>
  </div>
</section>
<!-- HOME -->
<!-- HOME -->
<!-- HOME -->
