<!-- HEADER SECTION -->
<!-- HEADER SECTION -->
<!-- HEADER SECTION -->
<header class="bg-[#F8F8FF] text-black font-[Inter] pt-4">
  <nav>
    <div class="container mx-auto flex justify-between items-center py-4">
        <div class="text-2xl font-bold font-[Poppins]">
          <a href="">
            <img src="/assets/images/logo.png" alt="Logo" class="h-24 w-24">
          </a>
        </div>
        <div class="flex-1 flex justify-center space-x-10 font-[Poppins]">
            <a routerLink="/" class="text-black hover:text-[#b01030]">Home</a>
            <a routerLink="/about" class="text-black hover:text-[#b01030]">About</a>
            <a routerLink="/projects" class="text-black hover:text-[#b01030]">Projects</a>
        </div>
        <div class="flex items-center">
          <a routerLink="/contact" class="bg-[#b01030] text-white py-4 px-4 rounded hover:bg-[#313332] font-[Poppins]">Contact Me</a>
        </div>
    </div>
  </nav>  
</header>
<!-- HEADER SECTION -->
<!-- HEADER SECTION -->
<!-- HEADER SECTION -->


<!-- ROUTER OUTLET -->
<!-- ROUTER OUTLET -->
<!-- ROUTER OUTLET -->
<router-outlet></router-outlet>
<!-- ROUTER OUTLET -->
<!-- ROUTER OUTLET -->
<!-- ROUTER OUTLET -->



<!-- FOOTER SECTION -->
<!-- FOOTER SECTION -->
<!-- FOOTER SECTION -->
<footer class="bg-[#F8F8FF] text-black font-[Inter] py-16 mt-auto">
  <div class="container mx-auto flex flex-col items-center text-center">
    <a href="#" class="transition-transform duration-300 hover:scale-105">
      <img src="/assets/images/logo.png" alt="Logo" class="h-24 w-24 object-contain">
    </a>
    <p class="text-sm text-gray-400 mt-6 tracking-wider uppercase font-[Poppins]">
      &copy; 2025 MARCELANGELO.DEV  |  All Rights Reserved.
    </p>
  </div>
</footer>
<!-- FOOTER SECTION -->
<!-- FOOTER SECTION -->
<!-- FOOTER SECTION -->